img {
    display: inline-flex;
    max-width: 340px;
    max-height: 250px;
    
}

.anime {
    margin-top: 50px;
    width: 20%;
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    justify-content: space-between;
}

a {
    color: blue;
}
